* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  color: #fff;
  width: 108px;
  padding-left: 20px;
  height: 100vh;
  background: var(--primary-color);
  position: fixed;
  left: 0;
  top: 0;
}

aside a {
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 12px;
  margin-left: 12px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

aside a i {
  margin-right: 5px;
}

aside a.active {
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
}

.sidebar__menu-item.active .sidebar__menu-icon {
  width: 40px;
  height: 40px;
  padding: 11px;
  background-color: var(--primary-dark-color);
  border-radius: 50%;
  position: relative;
  z-index: 9;
  margin-top: 3px;
}

.sidebar__menu-item .active {
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
aside a.active::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a.active::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 46px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

.sidebar__logo {
  padding: 21px 0;
  margin-bottom: 71px;
}

.sidebar__menu-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@keyframes click-scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to the animate-click class */
.animate-click .sidebar__menu-icon {
  animation: click-scale 0.3s ease;
}

/* Add animation on first load */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar__menu-item {
  animation: fadeIn 0.5s ease-in;
}

.sidebar__menu-item:nth-child(1) {
  animation-delay: 0.1s;
}
.sidebar__menu-item:nth-child(2) {
  animation-delay: 0.2s;
}
.sidebar__menu-item:nth-child(3) {
  animation-delay: 0.3s;
}
.sidebar__menu-item:nth-child(4) {
  animation-delay: 0.4s;
}
.sidebar__menu-item:nth-child(5) {
  animation-delay: 0.5s;
}
.sidebar__menu-item:nth-child(6) {
  animation-delay: 0.6s;
}
.sidebar__menu-item:nth-child(7) {
  animation-delay: 0.7s;
}
.sidebar__menu-item:nth-child(8) {
  animation-delay: 0.8s;
}
