* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  color: #fff;
  width: 108px;
  padding-left: 20px;
  height: 100vh;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
}

aside a {
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 12px;
  margin-left: 12px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

aside a i {
  margin-right: 5px;
}

aside a.active {
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
}

.sidebar__menu-item.active .sidebar__menu-icon {
  width: 40px;
  height: 40px;
  padding: 11px;
  background-color: var(--primary-dark-color);
  border-radius: 50%;
  position: relative;
  z-index: 9;
  margin-top: 3px;
}

.sidebar__menu-item .active {
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
aside a.active::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a.active::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 46px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

.sidebar__logo {
  padding: 21px 0;
  margin-bottom: 71px;
}
